<div class="ui masthead vertical segment">
  <div class="ui container">
  	<h1>Add a link</h1>
    <div class="ui divider"></div>
  </div>
  <div class="main ui container">
     <form class="ui form">
         <div class="field">
     	    <sm-input label="Title"  placeholder="Title..."></sm-input>
         </div>
         <div class="field">
     	    <sm-input label="Link"  placeholder="Link..."></sm-input>
         </div>
         <sm-button  class="primary">Submit</sm-button>
     </form>
  </div>
</div>
