<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        DigiAngular2
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    </div>
</div>

<div class="ui main text container">
  <h1 class="ui header">
    {{title}}
  </h1>
  <i class="comment mute outline icon"></i>
  <pre>app-hello-world:</pre>
  <h2>
    <app-hello-world></app-hello-world>
  </h2>
  <pre>app-user-item:</pre>
  <h3>
    <app-user-item [name]="'Gregori'"></app-user-item>
  </h3>
  <pre>app-user-list:</pre>
  <app-user-list></app-user-list>
</div>
