<div class="ui masthead vertical segment">
  <div class="ui container">
  	<h1>Add a link</h1>
    <div class="ui divider"></div>
  </div>
  <div class="main ui container">
     <form class="ui form">
         <div class="field">
           <label for="title">Title</label>
     	    <input label="Title"  placeholder="Title..." name="title" #newtitle/>
         </div>
         <div class="field">
           <label for="link">Link</label>
     	    <input label="Link"  placeholder="Link..." name="link" #newlink/>
         </div>
         <sm-button  class="primary"  (click)="addArticle(newtitle, newlink)">Submit</sm-button>
     </form>
     <div class="ui divider"></div>
     <div class="ui cards">
       <app-reddit-article *ngFor = "let article of articles"
                 [article] = "article">
       </app-reddit-article>
     </div>
  </div>
</div>
